/* {border: solid 1px black;}
 */
/* soubor s CSS styly */
html {
  font-size:62.5%;
  font-family:verdana, sans-serif;
}
body{
  font-size:1.2em;
}
.mybody{
	background-repeat: no-repeat;
	background-position: left top; 
	background-attachment: fixed;
}
#logo{
  width:100px;
  border-bottom:solid 2px transparent;
}

@media(min-width: 600px){
  #logo{
    width:150px;
  }
 
}

@media (min-width: 1000px){
  #obal
  ,#zahlavi
  ,#zapati{
    width:960px;
  }
  /*
  #menu{
		bottom:.7em;
		right: .7em;
		z-index: 30;
  }
  */
  #logo{
    width:200px;
  }
}

@media (max-width: 999px){
  #obal
  ,#zahlavi
  ,#zapati{
    width:96%;
  }

}

#zahlavi, #zapati{
	margin: 0 auto;
	background-color:#a72000;
}
#obal-zahlavi
,#obal-zapati{
	width:100%;
	background-color:#a40E00;
}
#zahlavi h1{
	margin:0;
	padding:0;
	text-align:center;
}

#hlavicka-uvodni{
  width:100%;
  border: 0px solid red;
  padding: 0;
  margin:0;
  }

#hlavicka-uvodni>img{
	width:100%;
	margin:0;
	border:0;
}

/* 
 Formatovani pro informační DIV
*/
.info{
  font-family: georgia, serif;
  font-size: 1.5em;
  padding: 15px 5px;
  text-align:center;
  width:50%;
  background-color:#99FF99;
  color:#006633;
  border: solid 1px black;
  margin: 0 auto;
}
/* 
 Formatovani pro varovny DIV (chyby, upozorneni apod)
*/
.varovani{
  font-family: verdana, sans-serif;
  font-size: 1.5em;
  padding: 15px 5px;
  text-align:center;
  width:50%;
  background-color:#4D1008;
  color:yellow;
  border: solid 1px black;
  margin: 0 auto;
}
#obal{
  margin: 0 auto;
  margin-bottom: 50%;
  margin-bottom: transparent;
  padding: 0 0 0.1% 0;
  border:solid 0px black;
  background-color:#ffffff;
}
/*
  Tlacitka/odkazy v navigaci v zahlavi stranky
*/
    #odkazy{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    /*border:solid 1px black;*/
    background-color: #ffffff;
    margin:auto;
  }
   .odkazy-item{
    flex:initial;
    align-self:center;
    text-align:center;
    margin: 0.5% 1%;
  	border-bottom:solid 2px transparent;
  }
    .odkazy-button{
}
  
  .odkazy-zvyrazneni{
  	/*background-color:#ffa4a4;*/
  	border-bottom:solid 2px #a70000;
    text-decoration: underline;
    text-decoration-style:double;  	
  }
  
  /*
  NAVIGACE 
  Nastaveni odkazu v zahlavi stranky
  */
  #odkazy>div>a {
    background-color: transparent;
    border:solid 0px #ffffff;
    color: red;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
  }
#navigace-zapati>div>a{
  	text-decoration:none;
    color: #a4ffa4;
    font-weight:normal;
    margin: 0.25;
    padding:0.25em;
    padding-bottom:.1em;
} 
#navigace-zapati>div>a:hover{
   /* background-color:#ff7070;
    color: #70ff70;*/
    border-bottom:solid 2px #a4ffa4;
	}
#navigace-zapati{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    background-color:#ffa4a4;
    color: #a4ffa4;
}
#menu{
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-end;
  text-align:right;
	background-color:#D53026;
}
.menu-item{
  flex:initial;
  /*width: 150px;
  float:right;*/
  padding: .5%;
  margin: .5%;
  background-color:#CC33FF;
  }
/*
.menu-item-selected{
  background-color:#ff0000;
  color:yellow;
  font-weight:bold;
}
#menu button{
	margin: 0 .5em;	
	padding: 0 .3em;	
	height: 3em;
	
	border: solid 1px #000000; 
	background-color:#D53026;
	color: #ffffff;
	font-weight:bold;
	font-family:arial;
  vertical-align: middle;
}
#menu button:hover
,.tile-link button:hover
,.uvod-button button:hover{
	background-color: #ff0000;
	color: #00ff00;
}
*/	

.menubutton{
	font-size: 1.3em;
  font-weight:bold;
  font-family:arial;
	margin: .5em .25em;
  padding: .5em .25em .1em;
  color: #ffffff;
  text-decoration:none;
	border-bottom: solid 2px transparent; 
}
.menubutton:hover{
  /*text-decoration:underline;*/
	border-bottom: solid 2px ; 
}
#obsah{
	border:solid 0px black;
	padding-left: 0.5%;
	padding-right: 0.5%;
}
#obsah>a{
	padding: 0 .8em;
}
button:hover {
	background-color: #ff0000;
	color: #ffffff;
	color: #00ff00;
	/*font-weight: normal;*/

}
button {
	cursor: hand; 
	cursor: pointer;
}

/*
 * K A T E G O R I E
 * formátování vzhledu kategorii - predkove/potomci
 */
 #predci, #potomci{
	margin: .5%;
	padding:.5%;
 }
 #predci{
 	text-align:center;
 	font-size: 1.0em;
 	font-weight:bold;
 }
 #potomci{
 	text-align:center;
 	font-size: 1.3em;
 	font-weight:normal;
}
#potomci a {
	
}

#sourozenci{
	margin-left:3%;
	/*float:right;*/
	border: solid 0px black;
	font-family: tahoma, sans-serif;
	font-weight:normal;
	font-size:0.8em;
}

/*
.button-sourozenci{
    background-color: #ff7070;
    border: none;
    color: white;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    margin: 4px 2px;
    cursor: pointer;
}
*/
.button-predci, .button-sourozenci{
    /*background-color: #d90000;*/
    border: solid 2px transparent;
    color: #a70000;
    padding: .5% ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 0.9em;*/
    margin: 4px 0px;
    cursor: pointer;
	
}
.button-potomci{
    border: solid 2px transparent;
    color: #a70000;
    padding: .5% 1.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
	
}
#predci a:hover
,#potomci a:hover{
  /*background-color: #ff0000;
  color: #ffffff;
  color: #00ff00;
  font-weight: normal;*/
  border-bottom:solid 2px #ff0000;

}

#kategorie-popis{
	width:40%;
	margin:0 auto;
	padding:1%;
	color: #a70000;
}
/*
 * T I L E
 * Dlazdice pro zobrazeni info o produktu
 */
 
 #tiles-all{
 	display:flex;
 	flex-wrap:wrap;
 	justify-content:space-around;
 	font-family: 'Open Sans Condensed', sans-serif;
 	font-weight:normal;
 }
 
 /* Jedna dlazdice s jednim produktem.
  * Kontejnerem je 'tiles-all
  */
 .tile{
 	margin: .5% 0;
 	padding: .5% 0;
 	border: solid 1px #c0c0c0;
 	/*border-radius: 5%;*/
 	/*float: left;*/
 	flex:initial;
 	background-color: #F3F2F2;
 	
 	
 }
 .tile > div{
 		width:94%;
 		margin: 1px auto;
 }
 .tile a {
 	text-decoration: none;
 	
 }
 .tile-nazev{
 	font-size: 1.5em;
 	font-weight:bold;
 }
 .tile-popkratky{
 	font-family:tahoma,  arial, sans-serif;
 	font-size: 1em;
 }
 .tile-cena{
 	font-size:1.5em;
 	text-align:right;
 }
 .tile-pic{
 	
 	margin: 0 auto;
 }
 .uvod-link{
 	width:30%;
 	text-align:center;
 	border:solid 1px #000000;
 	border-radius:4%;
 	margin: 1%;
 	padding:1%;
 	background-color: #cc0000;
 	font-family:arial, sans-serif;
 	font-weight:bold;
 	
 }
 /*
 .tile-link button{
 	width:30%;
 	text-align:center;
 	border:solid 1px #000000;
 	border-radius:4%;
 	margin: 1%;
 	padding:1%;
 	background-color: #D53026;
 	font-family:arial, sans-serif;
 	font-weight:normal;
 	font-size: .9em;
 	color:#F3F2F2;
}
*/
 .tile-link a{
   text-decoration:none;
   color:red;
   font-weight:bold;
   border-bottom:solid 2px transparent;
   margin:.5em;
 } 
 .tile-link a:hover{
   border-bottom:solid 2px red;
 }
 .uvod-link a{
 	color:#ffffff;
 	color:red;
 }
 .tile-nazev a{
 	color:#000000;
 }
 .tile-nazev a:hover{
  border-bottom:solid 2px black;
 }
  .tile img {
 	width:100%;
 }
 
 /*
  * D E T A I L S
  * Stranka s detail s detaily produktu.
  * Zobrazuji se dlazdice produktu z kategorie a vlastni detaily produktu
  */
  .detail-produkt{
  	/*width:78%;*/
  	font-size: 1.3em;
  	margin: 0 .5% ;
  	padding: 0 .5%;
  	/*float:right;*/
	border:solid 0px gray;
  }
  .detail-seznam{
  	margin: 0 .5%;
  	padding: 0 .5%;
  	border: solid 0px gray;
  	background-color:#ff7070;
  	display:flex;	
  	flex-wrap:wrap;
  }
.detail-seznam h3:after{
	clear:both;
}
  @media (min-width: 530px){
  .detail-seznam{
	width:18%;
  	float:left;
  	flex-wrap:wrap;
  }
  .detail-produkt{
  	width:78%;
  	float:right;
  }
  .tile{
  	width:180px;
  }
  }
  
  .detail-hmotnost
  ,.detail-cenakc
  , .detail-tlumeni
  , .detail-velikosti
  , .detail-popkratky{
  	margin: 1%;
  	color:#707070;
  }
  .detail-cenakc{
  	font-size: 1.2em;
  }
  .detail-obrazek{
  	width:50%;
  	float:left;
  	margin: 0 .5% 0 0;
  }
  .detail-nazev{
  	font-family: 'Open Sans Condensed', sans-serif;
  	font-size:2.5em;
  	font-weight:bold;
  	margin-top: 0px;
  }
  .detail-popdlouhy{
  	clear:both;
  	color:#808080;
  	font-size:1em;
  }
  .detail-eshop{
    width:30%;
    float:right;
  	margin: 2% 0;
  	padding: 2%;
  	text-align:center;
  	background-color:#a4ffa4;
  }
  /*
  .detail-eshop button{
  	background-color:green;
  	color:#ffffff;
  	font-family:arial, sans-serif;
  	font-weight:bold;
  	border:solid 2px #00aa00;
  	border-radius: 8px;
  }
  */
  .detailbutton{
    /*background-color:#ff0000;*/
    color:#ff0000;
    font-family:arial, sans-serif;
    font-weight:bold;
    padding: .5em;
    padding-bottom:.1em;
    margin: 1.5em;
  	border-radius: 2px;
    border-bottom: solid 2px transparent;
    text-decoration:none;
}
.detailbutton:hover{
    border-bottom: solid 2px #ff0000;
}
  .zvyrazneni{
  	font-weight:bold;
  }
  .kurziva{
  	font-style:italic;
  }
  .citace{
    margin: 2% 2% 2% 5%;
    font-size: 1.5em;
    font-family: garamont serif;
    font-style: italic;
  }
/*
 * U V O D
 * nastaveni DIVu casti 'Akce' 'B' a 'C' na uvodni strance
 */  
 
  @media (min-width: 530px){
		#uvod-akce{
			width:56%;
			float:left; 	
		}
		#uvod-b{
			width:39%;
			float:right;
		}
		#uvod-c{
			width:39%;
			float:right;
		}
}

 #uvod-akce{
 	color: black;
 	padding: 2%;
 	margin:0;
 	
 }
 #uvod-b{
 	background-color:#70ff70;
 	padding:0;
 	margin: 0.5%;
 }
 #uvod-c{
 	background-color:#a4ffa4;
 	padding:0;
 	margin: 0.5%;
 }
 
 .uvod-a-obrazek{
 	width:100%;
 }
 .uvod-a-obrazek img{
 	width:100%;
 }
 .uvod-ab{
 	width:75%;
 	margin: 0 auto;
 	padding: 3% 0 3% 0;
 }
 #uvod-akce a
 ,#uvod-b a
 ,#uvod-c a
 {
  text-decoration:none;
  color:black;
 }
 #uvod-akce>h1>a:hover
 ,#uvod-b h2>a:hover
 ,#uvod-c h2>a:hover
 {
  border-bottom:solid 2px black;
 }

 /*
 .uvod-button button{
 
  	background-color:red;
  	color:#ffffff;
  	font-family:arial, sans-serif;
  	font-weight:bold;
  	border:solid 2px #0a0a0a;
  	border-radius: 2px;
	
}
*/
/*
 ******************************************
 */
#obal-zapati{
  clear:both;
} 
#zapati{
  margin: 0 auto;
  vertical-align:middle;
  
  background-color:transparent; 
  font-size:10px;
  text-align:center;
}
#zapati>p{
  margin:0;
  padding:0;	
}
#zapati,
#zapati a:link,
#zapati a:visited{
	color:#ffa4a4;
}
.clearfix:after {  
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
#obal
,#zahlavi
,#odkazy
,#hlavicka-uvodni
,#obsah
,#zapati{
}
/*
 * P R O D E J C I
 */
 #prodejci{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
 }
 .prodejce{
  flex:0 0 20em;
  background-color: #f0f0f0;
  margin: 0.5%;
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #909090;
 }
 .prodejce-nazev{
  font-size:1.5em;
  font-weight:bold;
 }
 .prodejce-obec{
  font-size:1.4em;
  font-weight:normal;
  margin: 1.9% 0;
 }
 
/*
 * K O N T A K T Y
 */
 #dovozce-kontakty{
  width:75%;
  margin: 0 auto;
  xfont-size: 1em;
  padding-bottom: 2%; 
 }
 .zvyrazneni-hlavni{
  font-size:1.5em;
  font-weight:bold;
  margin: 1.9% 0;
 }
 .zvyrazneni-vedlejsi{
  font-size:1.4em;
  font-weight:normal;
  margin: 1.9% 0;
  margin: 1.9% 0;
 }