/* soubor s CSS styly */
html {
  font-size:62.5%;
  font-family:verdana, sans-serif;
}
body{
  font-size:1.2em;
  /*background-image: url("../img/pozadi.png");
  background-color:#6aa279;
  background-color:#ffffff;
  */
}
@media (min-width: 1000px){
  #obal{
    width:960px;
  }
}
@media (max-width: 999px){
  #obal{
    width:96%;
  }
}
#obal{
  margin: 0 auto;
  padding: 0 0 .1% 0;
  border:solid 0px black;
  background-color:#ffffff;
}
#zahlavi{
  border:solid 0px black;
  /*background-color:#8d4339;
  background-image: url("../img/pozadi2.png");*/
  text-align:center;
  vertical-align:middle;
}
#zahlavi-stred {
  margin:0;
  padding:0;
  font-family:garamond, serif;
  font-style: italic;
  font-size: 2em;
  color:#d9968e;  
  width:75%;
}

#zahlavi-levy-obr{
  width:10%;
  float:left;
}
#zahlavi-pravy-obr{
  width:15%;
  float:right;
}
#menu{
  background-color:#e2d5f7;
  margin: .5% 0;
  padding: 0 .5%;
  text-align:left;
}
#menu  li{
  color: #9d7ecf;
  font-weight:bold;
}

#hlavni-menu{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color:#5EbDA0;
}
#login{
  float:none;
  clear:both;
  margin: 0 .5% 0 0;
  text-align: right;
}
div #login > a > img{
  vertical-align:middle;
}

#zapati{
  margin: .5% 0;
  clear:both;
  color:#8d4339;
  background-color:#d9968e;
  font-size:10px;
  text-align:center;
}
#obsah {
  margin: 0 .5%;
  clear:both;
  height:auto;
  background-color:#ffffff;
}
.vodorovne{
	font-family:verdana, sans-serif;
	font-size: 1.2em;
  width:auto;
  float:left;
  list-style:none;
  margin: 0px 0 0 20px;
}
.menu-link{
	padding-top: 5px; 
}
.nadpis-ulohy{
  margin: 1em auto;
  padding: 1% 0;
  width: 50%;
  text-align:center;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 2em;
  background-color:#4d1008;
  color:#d9968E;
  border-radius: .5em;
}
.zahlavi-seznamu{
  font-weight:bold;
}
/*
 Nastaveni fieldset pro formuláře 
 */ 
fieldset{
  border-radius: .75em;
}
.frmfieldset{
  width:50%;
  margin:0 auto;
}
input {
  margin: .2em;
}
input#email{
  width: 15em;
}
.ikona{
  height: 15px;
}
/* 
 Formatovani pro informační DIV
*/
.info{
  font-family: georgia, serif;
  font-size: 1.5em;
  padding: 15px 5px;
  text-align:center;
  width:50%;
  background-color:#99FF99;
  color:#006633;
  border: solid 1px black;
  margin: 0 auto;
}
/* 
 Formatovani pro varovny DIV (chyby, upozorneni apod)
*/
.varovani{
  font-family: verdana, sans-serif;
  font-size: 1.3em;
  padding: 15px 5px;
  text-align:center;
  width:50%;
  background-color:#d90000;
  color:yellow;
  border: solid 1px black;
  margin: 0 auto;
}
/* Nastaveni vzhledu pro seznam uzivatelu */
.uzivatel{
  width:75%;
  margin: 0 auto;
  border:0px solid black;
}
.uziv-ikony{
  width:15%;
  margin: 0 .5% 0 0;
}
.uziv-nik{
  width:15%;
}
.uziv-prijmeni{
  width:20%;
}
.uziv-jmeno{
  width:20%;
}
.uziv-email{
  width:20%;
}
.uziv-status{
  text-align:center;
  width:10%;
}
.uziv-zahlavi{
  font-weight:bold;
}
.uziv-nik,.uziv-prijmeni,.uziv-jmeno
,.uziv-email,.uziv-status,.uziv-ikony{
  float:left;
  border: solid 0px black;
}
.ikona{
  width:15px;
  height:15px;
}
/* Formula pro zadavani produktu */
/*#kategorie li{*/
li {
  list-style-type:none;
  color: #909090;
  font-weight:normal;
}
.oznac-kategorii{
  color: #000000;
  font-weight:bold;
}
.kat-menu{
  padding-left: 1em;
}
#kategorie{
  font-family: tahoma, sans-serif;
  font-size: 0.9em;
  width: 18%;
  float:left;
  border-right: solid 0px #d0d0d0;
}
#prodnovy{
  display:flex;
  flex-direction:column;
}
#prodnovy input
, #prodnovy textarea
, #prodnovy legend{
   border-radius: .25em;
}
#prodnovy, #prodnovy > legend{
   background-color:aqua;
   border: 0;
}
#prodnovy > legend{
   font-size: 1em;
   font-weight: bold;
}
.polozka{
  display:flex;
}
#prodnovy input[type=submit] {
  width: 4em;
  flex: none;
}

#edit-log{
  width:40%;
  float:left;
  color:#808080;
  margin:10px;
}
.edit-popisek{
  font-weight:bold;
}
/*
  Nahledy obrazku pri editaci produktu
*/
.editobrazek{
  width: 20%;
  margin: .25%;
  padding: .25%;
  float:left;
  border: solid 1px #c0c0c0;
}
#obrazky-form legend{
  font-weight: bold;
}
/*
  Seznam produktu

sez-produkt sez-ikony sez-nazev sez-popkratky sez-cenakc sez-usr-upravil sez-date-upravil sez-usr-ins sez-date-ins
*/
.sez-produkt{
  width: 100%;
  display:flex;
}

.sez-ikony, .sez-nazev, .sez-popkratky, .sez-cenakc, .sez-usr-upravil, .sez-date-upravil, .sez-usr-ins, .sez-date-ins{
  flex:1;
  padding: 0 0.1%;
  border:solid 0px #c0c0c0;
}

.sez-ikony{
  flex: 0.45;
}
.sez-nazev{
}
.sez-popkratky{
  flex: 2;
}
.sez-cenakc{
  flex: 0.8;
  text-align:right;
  padding-right: 1%;
}
.sez-usr-upravil{
  color: #a0a0a0;
}

.sez-usr-ins{
  color: #c0c0c0;
}
.zvyrazneni{
  background-color: #f4eefd;
  background-color: #e1e1ff;
}
.zahlavi{
  font-weight: bold;
  /*background-color: #9d7ecf;*/
  background-color: #0885FF; 
  color: #f4eefd;
}

/*
 S E Z N A M  P R O D E J C U  
 
 prodejce prodejce-nazev prodejce-adresa prodejce-obec prodejce-telefon prodejce-web prodejce-email
*/
 .prodejce{
  font-size:1.2em;
  width:98%;
  border:solid 0px #c0c0c0;
  display:flex;
  padding: 0.5% 1%;
  margin:0 ;
 }
 .prodejce-nazev 
 , .prodejce-adresa
 , .prodejce-obec 
 , .prodejce-telefon 
 , .prodejce-web 
 , .prodejce-email{
 flex:1;
 width: 15%;
 }
 .prodejce-nazev{
  font-weight:bold;
 }
 
 /*
   S P R A V A  K A T E G O R I I
   
   vytvareni, editace a mazani kategorii produktu
 */
 .kat-form{
 } 
 .kat-zahlavi{
  font-size:1.5em;
  weight:bold;
 } 
 .kat-kategorie{
  float:left;
  width:28%;
 } 
 .kat-nadrazena{
  float:left;
  width:20%;
 } 
 .kat-razeni{
  float:left;
  width:11%;
 }
 .kat-clearfix{
  clear:both;
  height:2px;
  border-width:0;
  background-color:#696969;
 }